<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {% if request.path == "/eid" %}  active {% endif %}" aria-current="page" href="/eid">身份證</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.path == "/issues" %}  active {% endif %}" href="/issues">永續合作</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.path == "/foot_print" %} active {% endif %}" href="/foot_print">數位足跡</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.path == "/wallet" %}  active {% endif %}" aria-current="page" href="/wallet">錢包</a>
  </li>
</ul>

