body {
font-family: "微軟正黑體", "Microsoft JhengHei", arial, sans-serif;
}

.border-warning{
border-width: 2px;
}

.card-bg-eid{
background-color: white;
}

.card-shadow{
box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.16);
}
